@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.title {
  text-decoration: none !important;
}

.texto {
  color: brown;
  display: flex;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  animation: glitch 3s linear infinite;
}
.Logo {
  max-width: 300px;
}
@media (max-width: 800px) {
  .Logo {
    max-width: 105px;
  }
}
.Menu {
  width: 100%;
  height: 94px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-right: 5%;
  background: var(--black);
  border-bottom: 2px solid var(--primary);
}
body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}
@media (max-width: 800px) {
  .Menu {
    height: 40px;
    justify-content: center;
  }
  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}
